# --- 1. SAMPAH PYTHON (Wajib) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- 2. ENVIRONMENT (PENTING!) ---
# Biar folder environment Conda/venv lu gak ke-upload
env/
venv/
.env
.venv/
anaconda3/

# --- 3. DATASET & JSON ---
# Hapus *.json biar package.json gak keblokir
data/
#*.csv
*.xlsx
*.zip
*.tar.gz

# --- 4. MODEL MACHINE LEARNING ---
# Karena model lu kecil (<50MB), baris ini kita matikan biar bisa ke-push
# models/
# *.h5
# *.pkl

# --- 5. JUPYTER NOTEBOOK ---
.ipynb_checkpoints/

# --- 6. NODE & FRONTEND (Wajib) ---
# Biar repo lu gak berat sama library React
node_modules/
dist/
.env.local

# --- 7. SETTINGAN EDITOR ---
.vscode/
.idea/
*.log
.DS_Store